<p id="notice"><%= notice %></p>

<h1>Order Report</h1>
<% @ordercounts.each do |status, count| %>
  <div style="display: inline-flex; ">
    <h3 style="padding-right:8px"><%= status %>:</h3> 
    <h3><%= count %></h3>
  </div>
<% end %>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>customer_name</th>
      <th>Delivery_Status</th>
      <th>Delivery boy name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Order.includes(:delivery_boy).each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.delivery_status %></td>
        <% if order.delivery_boy == nil %>
        <td> ---------- </td> 
        <% else %>
        <td><%= order.delivery_boy.name %></td>
        <% end %>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if order.delivery_status == "assign"%>
          <td>
            <%= link_to 'Mark as Deliver', deliverd_order_order_path(order)%>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Dowload Orders", orders_path(format: "csv") %> ||
<%= link_to 'New Order', new_order_path %> ||    
<%= link_to 'View Delivery Boys', delivery_boys_path %>
