<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <br/>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :logo %>
    <br/>
    <%= f.file_field :logo %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <br/>
    <%= f.file_field :images, multiple:true %>
  </div>
  <h3>Tasks</h3>
  <div id='tasks'>
    <%= f.fields_for :tasks do |task| %>
      <%= render 'task_fields', f: task %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add task', f, :tasks, partial: 'task_fields' %>
    </div>
  </div>
  <%= f.submit 'Save' %>
<% end %>
