<%= form_with(model: varient, local: true) do |form| %>
  <% if varient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(varient.errors.count, "error") %> prohibited this varient from being saved:</h2>

      <ul>
        <% varient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>
  <div class="field">
    <%#= form.label :product %>
    <%#=   form.select 'product', options_for_select(Product.all.map {|u| [u.title, u.id]}) %>
    <%#= form.collection_select :product, :id, Product.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.text_field :material %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
